body {
    width: 100%;
    height: auto;  
    margin: 0px;
    padding: 0px;
}

main{
    /*background-color: #f8f8f8 ;*/
    background-image:url(images/vintage3.jpg);   

}

a {
    text-decoration: none;    
}

p, label{
    font-family:sans-serif;
}

h1{
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
    font-size: 2em;
    color: black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    border: solid 2px black;
}

li{
   list-style: none; 
}

ul {
    margin: 0px auto;
}
nav {
    display: flex;
}

.nav-title {
    margin : 10px 30px;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

header {
        
    width: auto;
    background-color:#f3e9f1 ;       
    display: flex;    
    justify-content: space-around;
    align-items: center;   
    height: 100px;
    margin: 0px auto;
}

.logo {
    display: inline-block;
    
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;    
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

.articles-lists-item {
    background-color: rgb(196, 210, 236);
    display: flex; 
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 20px;
}

#addProd{
    background-color:  rgb(196, 210, 236);
    align-items: center;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 20px;

}

.item-pic{
    display: flex;
    justify-content: center;;
    align-content: center;
    align-items: center;
    
}

.item-pic-menu{
    border-radius: 5px;    
    width: 600px;
    height: auto;
}


.cards-item{
    border-radius: 5px;
    width: 600px;
    height: auto;
}

.item-choise{
    display: flex;
    align-items: center;;
}

.btn  {
    
    background-color:red;
    font-family: sans-serif ;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 30px auto;   
    color: black;     
}

.item-body {
    margin: 30px 20px;
    width: 300px;
}



.card_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

footer{
    text-align: center;
}

.form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-addresse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-info-legend, .form-address-legend {
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(196, 210, 236);
    padding: 50px 100px;
    border-radius: 20px;
    margin-top: 30px;
   
}

.checkInput {
    color : red;
}


.table-title{
    font-weight: bold;   

    background-color:  rgb(196, 210, 236);
}

table{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    
    font-family: sans-serif;
}
th{
    border: solid 1px black;
    padding:5px 10px;
}

.table-content th {   
    font-weight: lighter;
    background-color: white;    
}

tfoot{
    background-color: coral;
}

.table-content .suppr {
    text-decoration: underline;
    color: black;
    font-weight: bolder;
    border: transparent;
    background-color: white;
}


.iconShopping{
    display: flex;
    align-items: center;
    justify-content: space-between,
}

.icon-number{
    font-size: large;
    color: blue;
    font-family:sans-serif;
    font-weight: bold;
   
}

.fa{
    font-size: large;
}

.fa-shopping-cart{
    font-size: 50px;
    color:rgb(36, 36, 42);
    margin: 0px 10px;
}

#orderConfirm{
border: solid 2px black;
padding: 10px;
margin: 100px auto;
background-color: white;

}

#resetCart {
    margin: 50px auto;
    font-size: 1.5em;
}


/*RESPONSIVITE MEDIA QUERIES


    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+--------+------------
    xs |    0px |  575px | Smartphones (portrait)
    sm |  576px |  767px | Smartphones (landscape)
    md |  768px |  991px | Tablets
    lg |  992px | 1199px | Small screens
    xl | 1200px |    +px | Large screens, TV etc...


*/



@media screen and (max-width: 1199px) 
    {
       
    
    }
@media screen and (max-width: 991px) 
    {    
    .articles-lists-item {
        display: flex;
        flex-direction: column;
    }   
    
    .item-body {
        margin: 30px auto;
    }

    .content {
        padding: 20px 0px;
    }          
}

@media screen and (max-width: 767px)
    {
     th {
         font-size: 12px;
     }

    .cards-item {
        width: 400px;
        height: auto;
     }
    
       
}

@media screen and (max-width: 575px) 
    {
        header {
            flex-direction: column;
            height: 150px;
        }

        .site-navigation .nav-title {
            font-size: 15px;
            
        }
        
        ul {
            padding-inline-start: 0px;
        }

        th {
            font-size: 8px;
            padding:5px 0px;
        }
   
        .form-info-legend,.form-address-legend, .form-info, .form-addresse {
            font-size: 10px;
        }
        .icon-number, .fa-2x{
            font-size: 1em;
        }

        .form-content{
            padding: 20px 20px;
        }

        .cards-item {
            width: 280px;
            height: auto;
         }  
         
         .articles-title {
             font-size: 1em;
         }

         .item-pic-menu{
            border-radius: 5px;
            height: 200px;
            width: 280px;
        }

        .articles-lists-item {
            margin: 20px 0px ;
            padding: 10px 0px;
        }

        .item-body{
            padding: 0px 10px;
        }
     
}

